<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supercells.lib.wechat">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!-- 微信 -->
        <activity
            android:name="com.supercells.lib.wechat.WXActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity-alias
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.supercells.lib.wechat.WXActivity"/>
    </application>

</manifest>
